.bablot-messenger-image {
  display: none;
}

.bablot-messenger-image .url-bar {
  display: flex;
  flex-direction: row;
}

.bablot-messenger-image .url-bar input {
  margin: auto;
}

.bablot-messenger-image .wrapper {
  boder-radius: 20px;
  padding: 10px;
  border-radius: 10px;
  max-width: 302px;
  border: solid 1px grey;
}

.bablot-messenger-image img {
  max-width: 302px;
}
