extends layout

block content
  body
    header
      include ./nav.jade
    .bablot-intro
      img(src='assets/crown.svg')
      .bablot-intro--mesage Instant responses, crazy smart bots.
    .bablot-wrapper
      .bablot-chat-panel
        img(src="assets/demo.gif" width="290px")
      .bablot-about-panel
        .bablot-about
          .bablot-about--header Automate busy work with AI chat
          .bablot-about--message
            p Customer service involves dealing with a lot of the same questions. Let our virtual assistant handle that, so you can focus on the real problems.
          a.signup-button(href="mailto:yourfriends@bablot.co") Gimme!
