extends layout

block content
  body
    header
      include ./nav.jade
      .container
        .col-sm-6.col-xs-12.col-sm-offset-3.bablot-video-layout
          .videoWrapper
            iframe(width="560" height="349" src="https://www.youtube.com/embed/fTwqHszSq3U" frameborder="0" allowfullscreen)
          h5 Getting Started
