extends layout

block content
  body
    header
      include ./nav.jade
      .container
        .col-sm-6.col-xs-12
          .video
            h5 Getting Started
            iframe(src="https://www.youtube.com/embed/fTwqHszSq3U" frameborder="0" allowfullscreen)
        .col-sm-6.col-xs-12
          .video
              h5 FAQ
              iframe(src="https://www.youtube.com/embed/fTwqHszSq3U" frameborder="0" allowfullscreen)
        .col-sm-6.col-xs-12
          .video
              h5 Live Data
              iframe(src="https://www.youtube.com/embed/fTwqHszSq3U" frameborder="0" allowfullscreen)
