extends layout

block content
  body
    header
      include ./nav.jade
    .bablot-intro
      img(src='assets/crown.svg')
      .bablot-intro--mesage Instant responses, crazy smart bots.
    .bablot-wrapper
      .bablot-chat-panel.center
        img(src="assets/demo.gif" width="290px")
