extends layout

block content
  body
    header
      include ./nav.jade
    .bablot-intro
      img(src='assets/crown.svg')
      .bablot-intro--mesage Instant responses, crazy smart bots.
    .bablot-wrapper
      .bablot-chat-panel
        img(src="assets/demo.gif" width="290px")
      .bablot-about-panel
        .bablot-about
          .bablot-about--header Automate busy work with AI chat
          .bablot-about--message
            p Customer service involves dealing with a lot of the same questions. Let our virtual assistant handle that, so you can focus on the real problems. 
            p
              | Our AI assistant understands natural language, so they know the answer no matter how you phrase your question.
             
            p Best of all, you don't have to download another app. People can message on your facebook page and get help instantly!
      .bablot-contact-panel
        .bablot-contact
          .bablot-contact--header We don't bite
          .bablot-contact--phone
            img(src='assets/phone.svg')
            a(href='tel:226-378-8121') 226 378 8121
          .bablot-contact--email
            img(src='assets/email.svg')
            a(href='mailto:yourfriends@bablot.co?Subject=Hello!') yourfriends@bablot.co
    footer.bablot-footer
