doctype html
html
  head
    title Landing
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700', rel='stylesheet', type='text/css')
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-77755296-1', 'auto');
      ga('send', 'pageview');
    script(async='', src='https://www.google-analytics.com/analytics.js')
    script(src='javascripts/go.js')
    link(rel='stylesheet', href='/styles/about.css')
    link(rel='stylesheet', href='/styles/about.css')
    link(rel='stylesheet', href='/styles/animations.css')
    link(rel='stylesheet', href='/styles/base.css')
    link(rel='stylesheet', href='/styles/chat.css')
    link(rel='stylesheet', href='/styles/contact.css')
    link(rel='stylesheet', href='/styles/footer.css')
    link(rel='stylesheet', href='/styles/header.css')
    link(rel='stylesheet', href='/styles/intro.css')
    link(rel='stylesheet', href='/styles/layout.css')
  body
    block content
