nav.bablot-nav
  .logo
    img(src='assets/king3.svg')
    a(href="/") Bablot
  .bablot-nav--menu
    ul
      li
        #fb-messengermessageus.fb-messengermessageus(messenger_app_id='1678638095724206', page_id='242525589452442', color='white', size='large')
      li
        a(href='#', onclick="go('contact')") Contact
      li
        a(href='#', onclick="go('about')") About
      li
        a(href='#', onclick="go('chat')") Chat
