nav.bablot-nav
  .logo
    img(src='assets/king3.svg')
    a(href="index.html") Bablot
  .bablot-nav--menu
    ul
      li
        a(href="examples.html") Examples
      li
        a(href='contact.html') Contact
      li
        a(href='about.html') About
