nav.bablot-nav
  .logo
    img(src='assets/king3.svg')
    a(href="/") Bablot
  .bablot-nav--menu
    ul
      li
        a(href="/examples") Examples
      li
        a(href='/contact') Contact
      li
        a(href='/about') About
