extends layout

block content
  body
    header
      include ./nav.jade
      .container
        .pricing-table
          .plan
            .plan-wrapper
              .top.starter
                h3 Starter
                hr.bable-bar
                img.city(src="assets/cityscape_blue.svg")
              .bottom
                img.logo.starter(src="assets/babyking.png")
                .info
                  p.feature FAQ Virtual Assistant
                  p.feature Unlimited Messages
                  p(style="color: white") s
                  hr.bable-bar.muted
                  button.pricing-btn.starter $29/mo
          .plan.most-popular
            .plan-wrapper
              .top.business
                h3 Business
                hr.bable-bar
                img.city(src="assets/cityscape_red.svg")
              .bottom
                img.logo.business(src="assets/kingnobg.png")
                .info
                  p.feature FAQ Virtual Assistant
                  p.feature Unlimited Messages
                  p.bonus +1 Bonus Feature*
                  hr.bable-bar.muted
                  button.pricing-btn.business $39/mo
          .plan
            .plan-wrapper
              .top.premium
                h3 Premium
                hr.bable-bar
                img.city(src="assets/cityscape_yellow.svg")
              .bottom
                img.logo.premium(src="assets/wiseking.png")
                .info
                  p.feature FAQ Virtual Assistant
                  p.feature Unlimited Messages
                  p.bonus +2 Bonus Feature*
                  hr.bable-bar.muted
                  button.pricing-btn.premium $59/mo
