.pricing-table {
  display: inline-block;
  text-align: center;
}

.pricing-table .plan {
  width: 250px;
  float: left;
  position: relative;
  border-radius: 5px;
  overflow: hidden!important;
}

.pricing-table .most-popular {
  width: 290px;
  z-index: 2;
  top: -13px;
  margin-bottom: 30px;
  box-shadow: 5px 0 10px 0px rgba(0, 0, 0, .15), -5px 0 10px 0px rgba(0, 0, 0, .15);
}

.plan-wrapper {
  position:relative;
}

.plan-wrapper .feature {
  font-weight: lighter;
}

.plan-wrapper .bonus {
  font-weight: bold;
  color: #0084FF;
}

.plan-wrapper .top {
  overflow: hidden;
  width: 100%;
  color: #4C4D63;
}

.plan-wrapper .bottom {
  width: 100%;
  margin-top: -5px;
  border: solid 1px #F1F1F1;
}

.plan-wrapper .bottom .info {
  margin-top: 60px;
}

.plan-wrapper .city {
  position: relative;
  bottom: 0px;
  width: 100%;
}

.plan-wrapper .logo {
  position:absolute;
  width: 40%;
  top: 80px;
  left:30%;
}

.plan-wrapper .logo.premium {
    width: 50%;
}

.plan-wrapper .bable-bar {
  height: 2px;
  color: #4C4D63;
  background: #4C4D63;
  font-size: 0;
  border: 0;
  border-radius: 5px;
  width: 25px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.plan-wrapper .bable-bar.muted {
  background: #DDDDDD;
  width: 35px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.plan-wrapper .pricing-btn {
  padding: 5px 25px 5px 25px;
  color: white;
  font-weight: bold;
  border-radius: 40px;
  border: none;
  font-size: 24px;
  margin-bottom: 30px;
}

.plan-wrapper .top.starter { background-color: #96E7FC; }
.plan-wrapper .top.business { background-color: #FF9087; }
.plan-wrapper .top.premium { background-color: #FCE439; }

.plan-wrapper .pricing-btn.starter { background: #31DAFD; }
.plan-wrapper .pricing-btn.business { background: #FD6357; }
.plan-wrapper .pricing-btn.premium { background: #F6D232; }

.plan-wrapper .pricing-btn.starter:hover { background: #96E7FC; }
.plan-wrapper .pricing-btn.business:hover { background: #FF9087; }
.plan-wrapper .pricing-btn.premium:hover { background: #FCE439; }
